<div class="formProducts">
    <div class="tableProducts">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <th>ID Producto</th>
                    <th>ID Tienda</th>
                    <th>ID Categoria</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let p of products">
                    <td>{{ p.id_producto }}</td>
                    <td>{{ p.id_tienda }}</td>
                    <td>{{ p.id_categoria }}</td>
                    <td>{{ p.nombre_producto }}</td>
                    <td>${{ p.precio}}</td>
                    <td>{{ p.stock }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>{{ getStatus(p.estado) }}</td>
                </tr>       
            </tbody>
        </table>
    </div>
</div>

<!-- <div class="card">
            <div class="flex justify-center mb-4">
                <p-table [value]="products" styleClass="custom-table">
                    <ng-template pTemplate="header">
                        <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Estado</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-p>
                        <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.stock }}</td>
                        <td>{{ getStatus(p.status) }}</td>
                        </tr>
                    </ng-template>
                    </p-table>
        </div> -->